* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    h1 {
        font-size: 4rem;
        color: #000000;
        box-shadow: #000000;
        padding: 10px 0 0 100px;
        
    }
}

.game {
    display: grid;
    grid-template-areas:
        "main map"
        "main char"
        "main online"
        "skill skill"
        "chat chat";
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 10px;
}

.grid-cell {
    background-color: #aaf7aa;
    border: 1px solid #a6d6a8;
    text-align: center;
}

.game_map {
    width: 200px;
    height: 200px;
}

.game__main-window {
    grid-area: main;
    /* border: 5px solid black; */
    width: 600px;
    height: 600px;
}

.game__map-window {
    grid-area: map;
}

.game__char-window {
    grid-area: char;
    background-color: #e0f3ff;
}

.game__online-window {
    grid-area: online;
    background-color: #e8f7ff;
}

.game__skill-bar {
    grid-area: skill;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background-color: #d0e4f7;
}

.game__chat-action-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-area: chat;
}

.game__chat-window {
    background-color: #e0f3ff;
    padding: 15px;
}

.game__action-bar {
    background-color: #e0e7ff;
    padding: 10px;
}

.game__inventory-window {
    background-color: #f0f7ff;
    padding: 10px;
}
